PORT=3000

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=lan_system_user
MYSQL_PASSWORD=change_this_password
MYSQL_DATABASE=lan_dual_role_system

# App
APP_BASE_URL=https://your-domain.com
NODE_ENV=production

